[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/silhouette-hugo"]
	path = themes/silhouette-hugo
	url = https://github.com/mattbutton/silhouette-hugo.git
